.jumbotron{
    position: relative;
    background: grey;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0; 
    margin: 0; 
}

#nameTitle{
    position: absolute;
    top: 30%;
    z-index: 2;
    margin: 0 auto;
    width: 100vw;
    text-shadow: 1px 3px 0px gray;

}

.name{
    text-align: center;
    font-size: 5em;    
    letter-spacing: 0.3em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    font-family: 'Lexend Exa', sans-serif;
}

#jobTitle{    
    font-size: 2rem;    
}

#particle-canvas {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    position: relative;
    z-index: 1;
}


